<div class="offset3 span6">
	<form class="form-horizontal" id="registerForm">
		<fieldset>
			<legend>Forgot password</legend>

			<div class="control-group">
				<label class="control-label">Email</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="fEmail">
				</div>
			</div>
					
			<div class="control-group">
				<div class="controls">
					<button type="submit" id="bForgotPassword" class="btn btn-success">Proceed</button>
				</div>
			</div>
			
		</fieldset>
	</form>

</div>