<header>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">My app</a>
			<ul class="nav">
				<!-- Note routerLink + data-route will automatically set active class if link is active. -->
				<li class="routerLink" data-route="Homepage.index"><a href="#">Home</a></li>
				<li class="routerLink userOnly" data-route="Homepage.uploads"><a href="#/uploads">Upload Files</a></li>
			</ul>
			<div class="pull-right" id="regionUserTop"></div>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div id="breadcrumbs"></div>
	</div>
	<div class="row">
		<div id="content"></div>
	</div>
</div>


<footer>
	<div class="container">
		<div class="row">	
		</div>
	</div>
</footer>