<ul class="nav pull-right">
	<li  class="routerLink" data-route="Users.signup"><a href="#/user/signup">Sign Up</a></li>
	<li class="divider-vertical"></li>
	<li class="dropdown">
		<a class="dropdown-toggle clickable" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
		<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
			<form class="form-horizontal top_login">
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="text" class="span2" id="email" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" class="span2" id="password" placeholder="Password">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" id="bLogin" class="btn btn-primary btn_login">Sign In</button>
					</div>
				</div>
				<div class="control-group">
					<hr />
					<p class="routerLink" data-route="Users.forgotPassword"><a href="#/user/forgotpassword">Forgot your password?</a></p>
				</div>
			</form>
		</div>
	</li>
</ul>
